* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
display: inline-block;
}

.form-container {
  display:flex;
  flex-flow:column nowrap;
  justify-content: space-between;
  
}

.form-container label {
  margin: 1% 0 .5% .5%;
  color: cadetblue; 
}

.form-container input {
  border:1px solid goldenrod;
}
.submit{
  margin: 1% 0 .5% .5%;
}